/* Alphabet letters active and inactive
   ------------------------------------- */
li.active {
	background-color: #a0c1b8;
	border: 1px solid #a0c1b8;
}

li.active:hover {
	background-color: rgba(217, 237, 247, 0);
	color: #a0c1b8;
	border: 1px solid #a0c1b8;
}

li.inactive {
	background-color: #d9edf7;
	border: 1px solid #d9edf7;
	color: #a0c1b8;
}

/* Hang man 
   ------------------------------------ */  
#hangman > div {
	border-bottom: 5px solid black;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    height: 250px;
    width: 50%;
    margin: 30px auto;
}

#hangman-upperborder {
	height: 50px;
    width: 50%;
    border-top: 5px solid black;
    border-right: 5px solid gray;
}

.stickman-head {
	height: 50px;
    width: 50px;
    margin: 0 auto;
    background-color: black;
    border-radius: 30px;
}

#stickman-body {
	width: 50px;
    margin: -2px auto;
}

.stickman-rarm, .stickman-rleg {
	height: 60px;
	width: 6px;
	background-color: black;
	display: inline-block;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	float: left;
}

.stickman-larm, .stickman-lleg {
	height: 60px;
	width: 6px;
	background-color: black;
	display: inline-block;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(-45deg);
	float: right;
}

.stickman-torso {
	height: 90px;
    width: 6px;
    background-color: black;
    margin: -2px auto;
}

#stickman-legs {
	width: 50px;
    margin: -9px auto;
}